/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import 'variables';

.router-link-active{
color: coral;
}

.state-confirme{
  background-color: green;
 }
 .state-annule{
  background-color: red;
 }
 .state-option{
  background-color: blue;
 }
